<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ global.site_name }}ICP备案中心</title>
    <link rel="icon" href="{{ global.site_avatar }}" type="image/png">
    <meta name="keywords" content="{{ global.site_keywords }}">
    <meta name="description" content="{{ global.site_description }}">
    <link rel="stylesheet" type="text/css" href="/templates/tuan/css/index.css">
    <link rel="stylesheet" type="text/css" href="/templates/tuan/css/footer.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

</head>
<body>
<div class="container">
    <div class="header">
        <h1>{{ global.site_name }}ICP备案中心</h1>
    </div>
    <div class="search-box">
        <form action="/id" method="get">
            <input type="text" name="keyword" class="search-input" placeholder="请输入8位备案号 OR 域名" required><br>
            <p style="text-align: center;">{{ global.site_description }}</p>
        </form>
    </div>
</div>
<div class="footer">
    <div>{{ global.menu }}</div>
    {{ global.footer_code|raw }}
</div>
</body>
</html>
